<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div class="container">
    <h1 style="color: aqua;">Welcome {{fullName}}!</h1>
    <p>Use the code below to activate ur account:</p>
    <input type="text" id="otpCode" value="{{otpCode}}" readonly>
  </div>
</body>
</html>
