<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="container">
    <p>Use the code below to reset your password:</p>
    <input type="text" id="otpCode" value="{{otpCode}}" readonly>
    <b style="color: red;">(available 1h)</b>
  </div>
</body>
</html>
